@model IEnumerable<InventorySystem.Data.Entities.Sucursal>

@{
    ViewData["Title"] = "Lista Sucursales";
    TempData["ExpectedRedirectAction"] = null;
    TempData["ExpectedRedirectController"] = null;
}

<h1>Lista</h1>

<p>
    <a style="btn btn-success" asp-action="Crear">Crear</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.ActionLink("Inventario", "Inventario", new { sucursalId=item.Id}) |
                @Html.ActionLink("Edit", "Edit", new {  id=item.Id  }) |
                @Html.ActionLink("Details", "Details", new {  id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id})
               
            </td>
        </tr>
}
    </tbody>
</table>
